html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

button {
  cursor: pointer; }

button:active {
  outline: none; }

button:focus {
  outline: none; }

input:focus {
  outline: none; }

.hr {
  margin: 1.5rem 0;
  background-color: #ededed;
  color: #ededed;
  height: 0.1rem;
  border: none; }

.container {
  width: 120rem;
  height: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  box-sizing: border-box; }

.box-flex {
  display: flex;
  justify-content: space-between; }

.d-flex {
  display: flex; }

.align-center {
  display: flex;
  align-items: center; }

.wrap {
  flex-wrap: wrap; }

.d-none {
  display: none; }

.header {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem; }
  .header-logo {
    display: flex;
    align-items: center; }
    .header-logo__text {
      margin-right: 3.7rem;
      text-decoration: none;
      color: #222222;
      font-size: 2.7rem;
      font-weight: 300;
      line-height: 5.2rem;
      text-transform: uppercase;
      letter-spacing: 0.068rem; }
    .header-logo__d {
      color: #f16d7f;
      font-family: "Lato - Black", sans-serif;
      font-weight: 700;
      letter-spacing: 0.068rem; }
    .header-logo-search {
      display: flex;
      margin-right: auto; }
      .header-logo-search__dropbtn {
        padding: 1.1rem 1.4rem;
        border: 0.1rem solid #e6e6e6;
        border-radius: 0.4rem 0 0 0.4rem;
        background-color: #cdcdcc;
        color: #222222;
        font-size: 1.4rem;
        font-weight: 300;
        background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
        .header-logo-search__dropbtn:active .form-dropdown {
          display: block; }
      .header-logo-search__input {
        width: 31rem;
        padding: 1.1rem 1.4rem 1.1rem 1.4rem;
        border: 0.1rem solid #e6e6e6;
        border-right: none;
        border-left: none;
        background-color: #ffffff;
        color: #222222;
        font-size: 1.4rem;
        font-weight: 300; }
        .header-logo-search__input:-ms-input-placeholder {
          color: #a4a4a4;
          font-size: 1.4rem;
          font-weight: 300; }
        .header-logo-search__input:-moz-placeholder {
          color: #a4a4a4;
          font-size: 1.4rem;
          font-weight: 300; }
        .header-logo-search__input::-moz-placeholder {
          color: #a4a4a4;
          font-size: 1.4rem;
          font-weight: 300; }
        .header-logo-search__input::-webkit-input-placeholder {
          color: #a4a4a4;
          font-size: 1.4rem;
          font-weight: 300; }
        .header-logo-search__input::placeholder {
          color: #a4a4a4;
          font-size: 1.4rem;
          font-weight: 300; }
      .header-logo-search__btn {
        padding: 1.1rem 1.2rem;
        border-radius: 0 0.4rem 0.4rem 0;
        border: 0.1rem solid #e6e6e6;
        background-color: #ffffff;
        color: #a4a4a4;
        font-size: 1.4rem;
        font-weight: 300; }
    .header-logo__img {
      margin-right: 1.3rem; }
  .header-account {
    display: flex;
    align-items: center;
    position: relative; }
    .header-account__img {
      background-image: url(../sprites/sprite.png);
      background-position: 0px -115px;
      width: 32px;
      height: 29px; }
    .header-account-wrapper {
      position: relative; }
      .header-account-wrapper:hover .basket-dropdown {
        display: block; }
    .header-account__btn {
      padding: 1.1rem 2rem;
      background-color: #f16d7f;
      border: none;
      color: #ffffff;
      font-weight: 400;
      margin-left: 2rem;
      border-radius: 0.3rem; }

.badge {
  display: none;
  position: absolute;
  top: 27px;
  right: -9px;
  min-width: 1.9rem;
  height: 1.9rem;
  background-color: #f16d7f;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  line-height: 1.7rem; }

.navbar {
  border-top: 0.1rem solid #ececec;
  height: 5rem; }
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar-menu__item {
      position: relative;
      line-height: 2.6rem; }
      .navbar-menu__item:hover .dropdown-content {
        display: block; }
    .navbar-menu__link {
      padding: 1.6rem 2.5rem;
      text-decoration: none;
      color: #222222;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase; }
    .navbar-menu__active {
      border-bottom: 0.3rem solid #f16d7f; }

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  width: 19rem;
  padding: 1.3rem;
  z-index: 10;
  display: none;
  top: 3.7rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17); }
  .dropdown-content:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.7rem;
    left: 4rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #e6e6e6 transparent; }

.dropdown-menu {
  margin: 1rem 0 1.5rem 0;
  list-style: none;
  padding-left: 1rem; }
  .dropdown-menu__item {
    margin-bottom: 0.2rem; }
  .dropdown-menu__link {
    color: #646464;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-decoration: none; }
    .dropdown-menu__link:hover {
      text-decoration: underline; }

.form-dropdown {
  top: 7.4rem;
  display: none;
  z-index: 1; }
  .form-dropdown:before {
    left: 6.3rem; }
  .form-dropdown__title {
    margin: 0.5rem 0 0 0;
    color: #232323;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04rem; }
    .form-dropdown__title:after {
      content: ' ';
      display: block;
      margin-top: 0.8rem;
      height: 0.1rem;
      background-color: #e8e8e8; }

.basket-dropdown-menu {
  padding: 0; }

.basket-dropdown {
  display: none;
  width: auto;
  top: 0;
  left: -3rem;
  margin-top: 3.7rem;
  box-sizing: content-box;
  z-index: 1; }
  .basket-dropdown__total {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .basket-dropdown-buttons {
    margin-top: 3rem; }
    .basket-dropdown-buttons__btn {
      padding: 2rem 7rem;
      width: 100%;
      color: #4a4a4a;
      border: 0.1rem solid #eaeaea;
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase; }

.checkout {
  margin-bottom: 0.8rem;
  color: #f16d7f;
  border: 0.1rem solid #f16d7f; }

.product-item {
  display: flex;
  align-items: center;
  min-width: 23rem; }
  .product-item-desc {
    margin-left: 1.2rem; }
    .product-item-desc__title {
      margin: 0.5rem 0 1rem 0;
      color: #222222;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase; }

.rating {
  display: flex;
  color: #f1b746;
  font-size: 1.2rem;
  margin-bottom: 1.2rem; }

.sum {
  color: #f16d7f;
  font-size: 1.2rem;
  text-transform: uppercase; }

.delete {
  margin-left: 5rem;
  color: #c0c0c0;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.4s; }
  .delete:hover {
    color: #222222; }

.main-slider {
  background-color: #e8e8e8;
  height: auto;
  margin-bottom: 10rem; }
  .main-slider__text {
    color: #222222;
    font-weight: 700;
    font-family: "Lato - Black", sans-serif;
    font-size: 4rem;
    text-transform: uppercase; }
  .main-slider-brick {
    height: 9rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: #f16d7f; }

.slider-cont {
  background: #e8e8e8 url(../img/main-bg.jpg) 5rem no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 65rem; }

.brand {
  font-size: 6rem;
  letter-spacing: 0.15rem; }

.fashion {
  color: #f16d7f;
  letter-spacing: 0.1rem; }

.offers {
  margin-bottom: 6rem; }
  .offers-img {
    display: flex;
    justify-content: center; }
    .offers-img-side {
      padding: 0;
      margin-right: 1.5rem; }
    .offers-img__item {
      position: relative;
      list-style: none;
      margin-bottom: 1.5rem;
      max-width: 100%; }
    .offers-img__inscription {
      width: auto;
      height: 8.2rem;
      position: absolute;
      top: 2.8rem;
      box-sizing: border-box;
      padding: 1.6rem 1.5rem;
      background-color: #ffffff;
      color: #222222;
      font-family: "Lato - Black", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.045rem; }

.hot {
  margin: 0;
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700; }

.for {
  color: #f16d7f;
  font-size: 3rem;
  letter-spacing: 0.075rem;
  font-weight: 700; }

.items {
  color: #222222;
  box-sizing: border-box; }
  .items__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    margin-bottom: 1.5rem; }
  .items__suptitle {
    color: #9f9f9f;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.035rem;
    margin-bottom: 6rem; }
  .items-btn {
    padding: 1.1rem 2rem;
    background-color: #f16d7f;
    border: none;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 2rem auto 10rem auto;
    padding: 1.5rem 2.4rem;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.04rem; }
  .items-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none; }
    .items-content_product {
      margin-top: 5rem; }
    .items-content__link {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
    .items-content__hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 77%;
      background: rgba(58, 56, 56, 0.83);
      opacity: 0;
      transition: all 0.3s; }
      .items-content__hover:hover {
        opacity: 1; }
    .items-content-item {
      width: 26.1rem;
      height: 36.4rem;
      position: relative;
      margin-bottom: 4rem;
      overflow: hidden; }
      .items-content-item:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16); }
        .items-content-item:hover .items-rating {
          visibility: visible; }
        .items-content-item:hover .items-content__hover {
          opacity: 1; }
      .items-content-item__btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        top: 10rem;
        left: 7rem;
        padding: 0.9rem 1.2rem 0.9rem 1rem;
        border-radius: 3px;
        border: 1px solid #ffffff;
        font-size: 1.3rem;
        color: #ffffff;
        background-color: transparent; }
        .items-content-item__btn--single-repost {
          background: url(../img/icons/repost.png) center center no-repeat;
          top: 15rem;
          width: 57px;
          height: 38px;
          padding: 0; }
        .items-content-item__btn--single-like {
          background: url(../img/icons/like.png) center center no-repeat;
          top: 15rem;
          left: 13.2rem;
          width: 57px;
          height: 38px;
          padding: 0; }
      .items-content-item--icon {
        background-image: url(../sprites/sprite.png);
        background-position: 0px -49px;
        width: 23px;
        height: 22px;
        margin-right: 0.6rem; }
      .items-content-item-desc {
        padding: 1.5rem; }
        .items-content-item-desc__text {
          display: block;
          font-size: 1.3rem;
          text-transform: uppercase;
          margin-bottom: 1.5rem; }

.price {
  color: #f16d7f;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.items-rating {
  margin: 0;
  font-size: 1.3rem;
  visibility: hidden; }

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.fa-long-arrow-alt-right {
  margin-left: 1rem;
  font-weight: 400; }

.features {
  margin-bottom: 10rem;
  color: #ffffff; }
  .features-leftside {
    background: #f0f0f0 url(../img/features-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    width: 76.7rem;
    height: 52.9rem; }
    .features-leftside__text {
      width: 31rem;
      margin-top: 14rem;
      margin-left: 4rem;
      line-height: 0.9;
      font-size: 5.4rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.15rem; }
  .features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 37.3rem;
    display: flex;
    flex-direction: column;
    background-color: #222224; }
    .features-list-item {
      display: flex;
      align-items: center;
      justify-content: center; }
      .features-list-item__img1 {
        background-image: url(../sprites/sprite.png);
        background-position: 0px -154px;
        width: 45px;
        height: 32px; }
      .features-list-item__img2 {
        background-image: url(../sprites/sprite.png);
        background-position: 0px -241px;
        width: 40px;
        height: 40px; }
      .features-list-item__img3 {
        background-image: url(../sprites/sprite.png);
        background-position: 0px -196px;
        width: 47px;
        height: 35px; }
      .features-list-item-desc {
        margin-top: 5rem;
        margin-left: 3rem;
        color: #fbfbfb; }
        .features-list-item-desc__title {
          margin: 0;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: 0.05rem; }
        .features-list-item-desc__text {
          margin-top: 1.5rem;
          margin-bottom: 0;
          width: 21.9rem;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 2.4rem;
          letter-spacing: 0.035rem; }

.offer {
  color: #f16d7f;
  letter-spacing: 0.15rem; }

.for-women {
  font-size: 3.2rem;
  letter-spacing: 0.09rem; }

.slider-form {
  background: #f2f2f2 url(../img/form-slider/bg-form.jpg) center center no-repeat;
  background-size: cover;
  height: 44.1rem;
  display: flex; }

.slider {
  border-right: 0.1rem solid #fff;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slider-body {
    display: flex;
    align-items: center; }
    .slider-body__quote {
      width: 38.6rem;
      margin-left: 2.8rem;
      margin-right: 7rem;
      color: #222224;
      font-size: 1.4rem;
      font-style: italic;
      line-height: 2.6rem;
      letter-spacing: 0.04rem; }

.form-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 0.1rem solid #fff;
  height: 44.1rem; }
  .form-side__text {
    display: block;
    color: #222224;
    font-size: 1.4rem;
    letter-spacing: 0.035rem;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .form-side__title {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.06rem;
    line-height: 4rem; }

.form {
  display: flex;
  align-items: center; }
  .form__input {
    width: 25rem;
    padding: 1.5rem 2rem;
    color: #222224;
    font-size: 1.4rem;
    letter-spacing: 0.035rem;
    border: none;
    border-radius: 2.3rem 0 0 2.3rem;
    background-color: #e1e1e1; }

.subscribe {
  padding: 1.5rem 2.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 0.035rem;
  background-color: #f16d7f;
  border-radius: 0 2.3rem 2.3rem 0;
  border: none;
  cursor: pointer; }

.info {
  margin-top: 10rem; }
  .info__text {
    margin-top: 3rem;
    width: 42.7rem;
    color: #898989;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    letter-spacing: 0.035rem; }
  .info-nav {
    display: flex;
    justify-content: space-between; }
    .info-nav__title {
      margin-bottom: 4.5rem;
      color: #f16d7f;
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase; }
    .info-nav-block {
      margin-right: 8rem; }
    .info-nav-main {
      margin-right: 12.9rem;
      margin-left: 6rem; }
    .info-nav-menu {
      list-style: none;
      padding: 0;
      margin: 0; }
      .info-nav-menu__item {
        margin-bottom: 2.5rem; }
      .info-nav-menu__link {
        text-decoration: none;
        color: #898989;
        font-size: 1.4rem; }
        .info-nav-menu__link:hover {
          text-decoration: underline; }

.footer {
  margin-top: 9rem;
  background-color: #e6e6e6; }
  .footer__copyright {
    color: #7a7a7a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 4.2rem; }
  .footer-social {
    list-style: none;
    display: flex;
    align-items: center; }
    .footer-social__item {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.6rem;
      background-color: #ffffff;
      color: #b2b2b2;
      font-size: 1.6rem;
      font-weight: 400;
      transition: 0.6s; }
      .footer-social__item:hover {
        background-color: #f16d7f; }
        .footer-social__item:hover .footer-social__link {
          color: #f7f7f8; }
      .footer-social__item:active {
        background-color: #eeeeee; }
        .footer-social__item:active .footer-social__link {
          color: #b2b2b2; }
    .footer-social__link {
      padding: 0.7rem 1rem;
      text-decoration: none;
      color: #b2b2b2; }

.slider-price {
  width: 100%;
  margin-bottom: 1.6rem; }
  .slider-price__value {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider-price__input {
    width: 4rem;
    border: none;
    color: #6f6e6e;
    font-size: 1.4rem; }

.page-title {
  color: #f16d7f;
  font-family: "Lato - Black", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase; }

.breadcrumb {
  height: 14.8rem;
  background-color: #f8f3f4;
  margin-bottom: 6rem; }
  .breadcrumb__list {
    list-style: none;
    display: flex; }
  .breadcrumb__link {
    text-decoration: none;
    padding-right: 0.3rem;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300; }

.current {
  color: #f16d7f;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase; }

.filter {
  margin-bottom: 11rem; }
  .filter-sidebar {
    width: 21%; }
    .filter-sidebar__button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.3rem;
      border: none;
      background-color: transparent;
      border-bottom: 0.1rem solid #ebebeb;
      border-left: 0.5rem solid #ef5b70;
      color: #6f6e6e;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;
      text-transform: uppercase;
      transition: all 0.3s; }
      .filter-sidebar__button:hover {
        color: #ef5b70; }
      .filter-sidebar__button-wrapper {
        margin-bottom: 1.8rem;
        position: relative; }

.sort-current {
  color: #ef5b70; }
  .sort-current .sort-icon {
    transition: all 0.6s;
    transform: rotate(180deg); }

.sidebar-dropdown {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding: 0; }
  .sidebar-dropdown-menu {
    padding: 0;
    margin: 0;
    list-style: none; }
    .sidebar-dropdown-menu__item {
      color: #6f6e6e;
      font-size: 1.4rem;
      line-height: 3.3rem; }

.sort-open {
  padding: 1.7rem;
  overflow: visible;
  height: auto; }

.right-side {
  width: 79%;
  padding-left: 5rem; }

.filter-row {
  display: flex;
  margin-bottom: 4rem; }
  .filter-row__title {
    color: #6f6e6e;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }

.trend {
  max-width: 18.1rem;
  margin-right: 11rem; }

.filter-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }
  .filter-list__item {
    color: #6f6e6e;
    font-size: 1.4rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s; }
    .filter-list__item:first-child {
      padding-left: 0; }
    .filter-list__item:last-child {
      padding-right: 0; }
    .filter-list__item:nth-child(4) {
      padding-left: 0; }
    .filter-list__item:nth-child(3n+2) {
      border-left: 2px solid #dfdfdf;
      border-right: 2px solid #dfdfdf; }
    .filter-list__item:hover {
      color: #f16d7f; }

.size {
  max-width: 22rem;
  margin-right: 6rem; }
  .size__item {
    display: flex;
    align-items: center;
    padding-right: 2rem; }
    .size__item:nth-child(4) {
      padding-right: 0; }

.checkbox {
  display: flex;
  cursor: pointer; }
  .checkbox__input {
    display: none; }
    .checkbox__input:checked + .checkbox_custom::after {
      opacity: 1; }
  .checkbox__text {
    color: #6f6e6e;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.1rem; }
  .checkbox_custom {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    margin-right: 0.9rem;
    border: 0.1rem solid #ebebeb;
    background-color: #ffffff; }
    .checkbox_custom::after {
      content: '';
      position: absolute;
      width: 0.4rem;
      height: 1rem;
      border: solid #f16d7f;
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(40deg);
      top: 0;
      right: 0.2rem;
      left: 0.4rem;
      bottom: 0.2rem;
      opacity: 0;
      transition: 0.5s; }

.price-filter {
  min-width: 26.2rem; }

.sort-row {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #f3f3f3; }
  .sort-row__block {
    display: flex;
      display-align-items: center;
    margin-left: 0.9rem; }
  .sort-row-dropdown {
    position: relative; }
    .sort-row-dropdown__menu {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      width: 98%;
      border: none;
      background-color: #ffffff;
      border-top: none;
      overflow-y: auto;
      overflow-x: hidden;
      height: 0rem;
      z-index: 99; }
    .sort-row-dropdown__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 0.9rem 0.6rem 0.8rem;
      cursor: pointer; }
      .sort-row-dropdown__item:hover {
        transition: all 0.3s linear;
        background-color: #717171; }
        .sort-row-dropdown__item:hover .sort-row-dropdown__link {
          color: #ffffff; }
    .sort-row-dropdown__link {
      text-decoration: none;
      color: #6f6e6e;
      font-size: 1.4rem; }
  .sort-row__btn {
    display: flex;
    align-items: center;
    border: 0.1rem solid #ebebeb;
    background-color: #ffffff;
    padding: 0.6rem 0.9rem 0.6rem 1.2rem;
    color: #6f6e6e;
    font-size: 1.4rem; }
  .sort-row__label {
    border: 0.1rem solid #ebebeb;
    border-right: none;
    background-color: #ffffff;
    padding: 0.6rem 0.8rem 0.6rem 1.2rem;
    color: #6f6e6e;
    font-size: 1.4rem; }
  .sort-row__title {
    margin-right: 1.3rem; }

.selected {
  background-color: #f16d7f; }
  .selected .sort-row-dropdown__link {
    color: #ffffff; }

.open {
  transition: height 0.3s linear;
  height: 11.2rem;
  border: 0.1rem solid #ebebeb; }

.pagination {
  display: flex;
  align-items: center;
  padding: 1.2rem	0.7rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #ebebeb;
  background-color: #ffffff; }
  .pagination__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; }
  .pagination__item {
    color: #c4c4c4;
    font-size: 1.6rem; }
    .pagination__item:first-child {
      font-size: 1.4rem; }
    .pagination__item:last-child {
      font-size: 1.4rem; }
    .pagination__item:nth-child(7) .pagination__link {
      padding-right: 0; }
    .pagination__item:nth-child(9) .pagination__link {
      padding-left: 0; }
  .pagination__link {
    text-decoration: none;
    color: #c4c4c4;
    padding: 0 0.9rem; }
    .pagination__link:hover {
      color: #ef5b70;
      font-weight: 700; }

.active-page {
  font-weight: 700;
  color: #ef5b70; }

.view-all {
  padding: 1.3rem 4.3rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 1.6rem;
  font-weight: 700; }
  .view-all:hover {
    background-color: #ef5b70;
    color: #ffffff; }

.features--product {
  background-color: #222224;
  margin: 0;
  height: 34.1rem; }

.features-list--product {
  width: 100%;
  flex-direction: row;
  text-align: center; }

.features-list-item--product {
  flex-direction: column;
  flex-grow: 1; }

.features-list-item-desc--product {
  margin: 0;
  margin-top: 3rem; }

.features-list-item-desc__text--product {
  width: auto; }

.breadcrumb--single {
  margin-bottom: 0; }

.bigSlider {
  border: 0.1rem solid #eaeaea;
  height: 77.7rem;
  background-color: #f7f7f7;
  text-align: center;
  position: relative; }

.bx-prev, .bx-next {
  padding: 1.7rem 1.9rem;
  color: #ffffff;
  background-color: #2a2a2a;
  opacity: .2;
  position: absolute;
  top: 50%;
  z-index: 100;
  text-indent: -9999px; }

.bx-prev {
  padding-left: 2.3rem;
  left: 0;
  background: #2a2a2a url(../img/left.png) center no-repeat; }

.bx-next {
  padding-right: 2.3rem;
  right: 0;
  background: #2a2a2a url(../img/right.png) center no-repeat; }

.product-desc {
  margin-bottom: 10rem; }
  .product-desc__wrapper {
    text-align: center;
    border: 0.1rem solid #eaeaea;
    background-color: #ffffff;
    padding: 7rem 25rem 12rem 25rem;
    position: relative;
    margin-top: -9rem; }
  .product-desc__title {
    color: #f16d7f;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #eaeaea;
    margin-bottom: 1.7rem; }
    .product-desc__title:after {
      content: '';
      position: absolute;
      width: 6.4rem;
      height: 0.3rem;
      background-color: #ef5b70;
      left: 50%;
      margin-left: -3.2rem;
      top: 97%; }
  .product-desc__subtitle {
    color: #4d4d4d;
    font-family: "Lato - Black", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem; }
  .product-desc__label {
    max-width: 61.8rem;
    margin: 0;
    margin-bottom: 2.8rem;
    color: #5e5e5e;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem; }
  .product-desc__info {
    max-width: 61.8rem;
    margin-bottom: 3.7rem; }
  .product-desc__brief {
    margin-right: 4.4rem;
    color: #b9b9b9;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }
    .product-desc__brief:last-child {
      margin-right: 0; }
    .product-desc__brief-value {
      color: #2f2f2f; }

.price--single {
  font-size: 2.4rem; }

.rating--single {
  margin-bottom: 2.6rem;
  font-size: 1.7rem; }

.textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.3rem; }

.choiceblock {
  padding: 6.3rem 5.7rem 0 5.7rem;
  border-top: 0.1rem solid #eaeaea; }
  .choiceblock__label {
    margin-bottom: 1rem;
    color: #2f2f2f;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase; }
  .choiceblock__color {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    margin-right: 1rem; }
  .choiceblock__item {
    width: 14.4rem;
    display: flex;
    box-sizing: content-box;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start; }

.sort-row-dropdown--single {
  width: 100%; }

.sort-row__btn--single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.9rem 1rem 1.4rem;
  width: 100%;
  color: #bcbcbc;
  font-size: 1.3rem;
  box-sizing: border-box; }

.red {
  background-color: #ef5b70; }

.add {
  margin-top: 2.8rem;
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.single-basket {
  background-image: url(../sprites/sprite.png);
  background-position: 0px -81px;
  width: 26px;
  height: 24px;
  margin-right: 1.5rem; }

.may-like {
  margin-bottom: 3rem; }

.product-desc__subtitle--may-like {
  font-size: 2.4rem;
  margin-bottom: 7rem;
  text-align: center; }

.thead__item, .tbody__item {
  padding: 2.2rem 0;
  border-bottom: 0.1rem solid #eaeaea;
  text-align: left;
  vertical-align: middle; }

.tbody__item {
  padding-left: 1rem; }

.thead__item {
  padding: 1.8rem 0;
  color: #222222;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.02rem; }

.th-product {
  width: 14rem; }

.td-img {
  padding-left: 0; }

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 9rem 0 4.4rem 0; }
  .table__product-details {
    width: 39.5rem;
    vertical-align: top; }
    .table__product-details-name {
      margin-top: 1.3rem;
      margin-bottom: 3rem;
      color: #222222;
      font-size: 1.3rem;
      text-transform: uppercase; }
    .table__product-details-desc {
      line-height: 2rem;
      font-size: 1.3rem;
      font-weight: 700;
      color: #575757; }
      .table__product-details-desc--current {
        font-weight: 300; }
  .table__value {
    color: #656565;
    font-size: 1.3rem;
    font-weight: 700; }
  .table__img {
    max-width: 10rem;
    max-height: 11.5rem; }
  .table__price {
    width: 15rem; }
  .table__shipping {
    width: 15rem;
    text-transform: uppercase; }
  .table__subtotal {
    width: 15rem; }
  .table__quantity {
    width: 15rem; }
    .table__quantity-input {
      width: 5.5rem;
      padding: 0.5rem 0 0.5rem 2.3rem;
      box-sizing: border-box;
      border: 0.1rem solid #eaeaea;
      background-color: #ffffff;
      color: #656565;
      font-size: 1.3rem; }

.delete--table {
  margin: 0; }

.cart-buttons {
  margin-bottom: 6.3rem; }

.cart__btn {
  padding: 1.9rem 3.9rem;
  border: 0.1rem solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.cart-count {
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cart-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 28rem; }
  .cart-form__label {
    margin: 0;
    margin-bottom: 2.2rem;
    color: #222222;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .cart-form__input {
    margin-bottom: 2rem;
    margin-right: 3rem;
    padding: 1.5rem;
    width: 32.5rem;
    border: 0.1rem solid #eaeaea;
    background-color: #ffffff;
    font-size: 1.3rem;
    color: #8a8a8a; }
    .cart-form__input:-ms-input-placeholder {
      color: #cecece;
      font-size: 1.3rem;
      font-weight: 300; }
    .cart-form__input:-moz-placeholder {
      color: #cecece;
      font-size: 1.3rem;
      font-weight: 300; }
    .cart-form__input::-moz-placeholder {
      color: #cecece;
      font-size: 1.3rem;
      font-weight: 300; }
    .cart-form__input::-webkit-input-placeholder {
      color: #cecece;
      font-size: 1.3rem;
      font-weight: 300; }
    .cart-form__input::placeholder {
      color: #cecece;
      font-size: 1.3rem;
      font-weight: 300; }
    .cart-form__input--btn {
      color: #cecece;
      font-weight: 300;
      display: flex;
      justify-content: space-between;
      box-sizing: content-box; }
  .cart-form__btn {
    padding: 1rem 1.2rem;
    border: 0.1rem solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s linear; }
    .cart-form__btn:hover {
      box-shadow: -1px 1px 25px -2px rgba(0, 0, 0, 0.2); }
  .cart-form__hint {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2.4rem; }

.cart-calc {
  width: 29rem;
  padding: 4rem 4.2rem;
  background-color: #f5f3f3;
  text-align: right; }
  .cart-calc__subtotal {
    color: #4a4a4a;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.4rem; }
  .cart-calc__total {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e2e2e2;
    color: #222222;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .cart-calc__price {
    margin-left: 1rem; }
  .cart-calc__btn {
    margin-top: 1.7rem;
    padding: 1.8rem 4.2rem;
    background-color: #f16d7f;
    width: 100%;
    color: #ffffff;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }

.sort-row-dropdown__menu--cart {
  width: 92%; }

.cart-count-dropdown__item {
  color: #cecece;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 300;
  padding: 1.5rem;
  border: 0.1rem solid #eaeaea;
  border-bottom: 0; }
  .cart-count-dropdown__item:last-child {
    border-bottom: 0.1rem solid #eaeaea; }
  .cart-count-dropdown__item:first-child {
    border-top: 0; }

.put {
  transition: 0.3s linear;
  height: 12rem; }
  .put #cart-country-btn {
    margin-bottom: 0; }

.accordion {
  list-style-type: none;
  margin-bottom: 9rem; }
  .accordion__item {
    border-bottom: 1px solid #e8e8e8; }
  .accordion-header {
    background-color: #ffffff;
    cursor: pointer;
    padding: 3rem 0;
    color: #222222;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .accordion-body {
    padding: 7.9rem 3.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    display: none; }
    .accordion-body__title {
      color: #222222;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
    .accordion-body__tips {
      margin-bottom: 3rem;
      color: #b3b2b2;
      font-size: 1.3rem;
      font-weight: 400; }
      .accordion-body__tips--future {
        margin-bottom: 1.5rem; }
    .accordion-body__radio {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem; }
      .accordion-body__radio-block {
        margin-bottom: 3rem; }
      .accordion-body__radio-input {
        display: none; }
        .accordion-body__radio-input:checked + .accordion-body__radio-custom:after {
          opacity: 1; }
      .accordion-body__radio-text {
        color: #222222;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase; }
      .accordion-body__radio-custom {
        margin-right: 1.4rem;
        display: block;
        position: relative;
        width: 1rem;
        height: 1rem;
        border: 0.2rem solid #555555;
        border-radius: 50%;
        background-color: #ffffff; }
        .accordion-body__radio-custom:after {
          content: '';
          position: absolute;
          background-color: #000000;
          opacity: 0;
          border-radius: 50%;
          top: 2px;
          right: 2px;
          left: 2px;
          bottom: 2px;
          transition: 0.3s linear; }

.cart__btn--checkout {
  padding: 1.7rem 5.3rem; }

.registrate-form__label {
  margin-bottom: 1.5rem;
  display: block;
  color: #222222;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase; }

.registrate-form__input {
  margin-bottom: 2.2rem;
  display: block;
  box-sizing: border-box;
  width: 39rem;
  border: 0.1rem solid #eaeaea;
  background-color: #ffffff;
  padding: 1.4rem 1rem;
  font-size: 1.5rem;
  color: #222224; }

.error-text {
  color: #ff0d0d;
  font-weight: 700; }

.forgot {
  margin-left: 3rem;
  cursor: pointer;
  color: #222222;
  font-weight: 700;
  font-size: 1.3rem; }
  .forgot:hover {
    text-decoration: underline; }

@media screen and (max-width: 1200px) {
  .container {
    width: 960px; } }

@media screen and (max-width: 992px) {
  .container {
    width: 960px; } }

/* @media screen and (max-width: 992px)
	.container
		width: 960px */
