// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$basket-red-name: 'basket-red'
$basket-red-x: 0px
$basket-red-y: 81px
$basket-red-offset-x: 0px
$basket-red-offset-y: -81px
$basket-red-width: 26px
$basket-red-height: 24px
$basket-red-total-width: 47px
$basket-red-total-height: 281px
$basket-red-image: 'sprite.png'
$basket-red: (0px, 81px, 0px, -81px, 26px, 24px, 47px, 281px, 'sprite.png', 'basket-red', )
$basket-name: 'basket'
$basket-x: 0px
$basket-y: 115px
$basket-offset-x: 0px
$basket-offset-y: -115px
$basket-width: 32px
$basket-height: 29px
$basket-total-width: 47px
$basket-total-height: 281px
$basket-image: 'sprite.png'
$basket: (0px, 115px, 0px, -115px, 32px, 29px, 47px, 281px, 'sprite.png', 'basket', )
$delivery-name: 'delivery'
$delivery-x: 0px
$delivery-y: 154px
$delivery-offset-x: 0px
$delivery-offset-y: -154px
$delivery-width: 45px
$delivery-height: 32px
$delivery-total-width: 47px
$delivery-total-height: 281px
$delivery-image: 'sprite.png'
$delivery: (0px, 154px, 0px, -154px, 45px, 32px, 47px, 281px, 'sprite.png', 'delivery', )
$item-basket-name: 'item-basket'
$item-basket-x: 0px
$item-basket-y: 49px
$item-basket-offset-x: 0px
$item-basket-offset-y: -49px
$item-basket-width: 23px
$item-basket-height: 22px
$item-basket-total-width: 47px
$item-basket-total-height: 281px
$item-basket-image: 'sprite.png'
$item-basket: (0px, 49px, 0px, -49px, 23px, 22px, 47px, 281px, 'sprite.png', 'item-basket', )
$like-name: 'like'
$like-x: 0px
$like-y: 22px
$like-offset-x: 0px
$like-offset-y: -22px
$like-width: 18px
$like-height: 17px
$like-total-width: 47px
$like-total-height: 281px
$like-image: 'sprite.png'
$like: (0px, 22px, 0px, -22px, 18px, 17px, 47px, 281px, 'sprite.png', 'like', )
$quality-name: 'quality'
$quality-x: 0px
$quality-y: 196px
$quality-offset-x: 0px
$quality-offset-y: -196px
$quality-width: 47px
$quality-height: 35px
$quality-total-width: 47px
$quality-total-height: 281px
$quality-image: 'sprite.png'
$quality: (0px, 196px, 0px, -196px, 47px, 35px, 47px, 281px, 'sprite.png', 'quality', )
$repost-name: 'repost'
$repost-x: 0px
$repost-y: 0px
$repost-offset-x: 0px
$repost-offset-y: 0px
$repost-width: 22px
$repost-height: 12px
$repost-total-width: 47px
$repost-total-height: 281px
$repost-image: 'sprite.png'
$repost: (0px, 0px, 0px, 0px, 22px, 12px, 47px, 281px, 'sprite.png', 'repost', )
$sale-name: 'sale'
$sale-x: 0px
$sale-y: 241px
$sale-offset-x: 0px
$sale-offset-y: -241px
$sale-width: 40px
$sale-height: 40px
$sale-total-width: 47px
$sale-total-height: 281px
$sale-image: 'sprite.png'
$sale: (0px, 241px, 0px, -241px, 40px, 40px, 47px, 281px, 'sprite.png', 'sale', )
$spritesheet-width: 47px
$spritesheet-height: 281px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($basket-red, $basket, $delivery, $item-basket, $like, $quality, $repost, $sale, )
$spritesheet: (47px, 281px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../sprites/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
