// ========================= CHECKUOT PAGE ====================================



.accordion
	list-style-type: none
	margin-bottom: 9rem
	&__item
		border-bottom: 1px solid #e8e8e8
	&-header
		background-color: $white
		cursor: pointer
		padding: 3rem 0
		color: $black
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
	&-body
		padding: 7.9rem 3.5rem
		padding-top: 1rem
		display: flex
		justify-content: space-between
		display: none
		&__title
			color: $black
			font-size: 1.3rem
			font-weight: $bold
			text-transform: uppercase
			margin-bottom: 1.5rem
		&__tips
			margin-bottom: 3rem
			color: #b3b2b2
			font-size: 1.3rem
			font-weight: $font-weight
			&--future
				margin-bottom: 1.5rem
		&__radio
			cursor: pointer
			display: flex
			align-items: center
			margin-bottom: 1.5rem
			&-block
				margin-bottom: 3rem
			&-input
				display: none
				&:checked + .accordion-body__radio-custom:after
					opacity: 1
			&-text
				color: $black
				font-size: 1.2rem
				font-weight: $bold
				text-transform: uppercase
			&-custom
				margin-right: 1.4rem
				display: block
				position: relative
				width: 1rem
				height: 1rem
				border: 0.2rem solid #555555
				border-radius: 50%
				background-color: $white
				&:after
					content: ''
					position: absolute
					background-color: #000000
					opacity: 0
					border-radius: 50%
					top: 2px
					right: 2px
					left: 2px
					bottom: 2px
					transition: 0.3s linear
.cart__btn--checkout
	padding: 1.7rem 5.3rem
.registrate-form
	&__label
		margin-bottom: 1.5rem
		display: block
		color: $black
		font-size: 1.2rem
		font-weight: $bold
		text-transform: uppercase
	&__input
		margin-bottom: 2.2rem
		display: block
		box-sizing: border-box
		width: 39rem
		border: 0.1rem solid #eaeaea
		background-color: $white
		padding: 1.4rem 1rem
		font-size: 1.5rem
		color: #222224
.error-text
	color: #ff0d0d
	font-weight: $bold
.forgot
	margin-left: 3rem
	cursor: pointer
	color: $black
	font-weight: $bold
	font-size: 1.3rem
	&:hover
		text-decoration: underline