@import mixin
@import '../sprites/sprite'
// --------fonts

$font-size: 1.4rem
$font-weight: 400
$light: 300
$bold: 700

// ---------fonts-family---------

$primeryfont: "Lato", sans-serif
$secondaryfont: "Lato - Black", sans-serif

// -----colors-------

$main: #f16d7f
$darken-main: #ef5b70
$black: #222222
$grey: #e6e6e6
$white: #ffffff
$star: #f1b746
$white: #ffffff
$black: #222222



html
	font-size: 10px
	font-family: $primeryfont
	font-weight: $font-weight
	box-sizing: border-box
button 
	cursor: pointer
button:active
	outline: none
button:focus
	outline: none
input:focus 
	outline: none
@mixin btn
	padding: 1.1rem 2rem
	background-color: $main
	border: none
	color: #ffffff
	font-weight: $font-weight
@mixin afterline
	&:after
		content: ' '
		display: block
		margin-top: 0.8rem
		height: 0.1rem
		background-color: #e8e8e8
.hr
	margin: 1.5rem 0
	background-color: #ededed
	color: #ededed
	height: 0.1rem
	border: none
.container
	width: 120rem
	height: 100%
	padding: 0 3rem
	margin: 0 auto
	box-sizing: border-box	
.box-flex
	display: flex
	justify-content: space-between
.d-flex
	display: flex
.align-center
	display: flex
	align-items: center
.wrap
	flex-wrap: wrap
.d-none
	display: none
.header
	font-size: $font-size
	margin-bottom: 1.5rem
	margin-top: 3rem
	&-logo
		display: flex
		align-items: center
		&__text
			margin-right: 3.7rem
			text-decoration: none
			color: $black
			font-size: 2.7rem
			font-weight: $light
			line-height: 5.2rem
			text-transform: uppercase
			letter-spacing: 0.068rem
		&__d
			color: $main
			font-family: $secondaryfont
			font-weight: $bold
			letter-spacing: 0.068rem
		&-search
			display: flex
			margin-right: auto
			&__dropbtn
				padding: 1.1rem 1.4rem
				border: 0.1rem solid $grey
				border-radius: 0.4rem 0 0 0.4rem
				background-color: #cdcdcc	
				color: $black
				font-size: 1.4rem
				font-weight: $light
				background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
				&:active
					.form-dropdown
						display: block
			&__input
				width: 31rem
				padding: 1.1rem 1.4rem 1.1rem 1.4rem
				border: 0.1rem solid $grey
				border-right: none
				border-left: none
				background-color: $white
				color: $black
				font-size: 1.4rem
				font-weight: $light
				+placeholder
					color: #a4a4a4
					font-size: 1.4rem
					font-weight: $light
			&__btn
				padding: 1.1rem 1.2rem
				border-radius: 0 0.4rem 0.4rem 0
				border: 0.1rem solid $grey
				background-color: $white
				color: #a4a4a4
				font-size: 1.4rem
				font-weight: $light
		&__img
			margin-right: 1.3rem
	&-account
		display: flex
		align-items: center
		position: relative
		&__img
			@include sprite($basket)
		&-wrapper
			position: relative
			&:hover
				.basket-dropdown
					display: block
		&__btn 
			@include btn
			margin-left: 2rem
			border-radius: 0.3rem
.badge
	display: none
	position: absolute
	top: 27px
	right: -9px
	min-width: 1.9rem
	height: 1.9rem
	background-color: $main
	border-radius: 50%
	color: $white
	font-size: 1.2rem
	font-weight: $bold
	vertical-align: middle
	text-align: center
	line-height: 1.7rem


		// ==============navigation==================
.navbar
	border-top: 0.1rem solid #ececec
	height: 5rem
	&-menu
		list-style: none
		display: flex
		justify-content: center
		align-items: center
		&__item
			position: relative
			line-height: 2.6rem
			&:hover
				.dropdown-content
					display: block
		&__link
			padding: 1.6rem 2.5rem
			text-decoration: none
			color: $black
			font-size: 1.4rem
			font-weight: $bold
			text-transform: uppercase
		&__active
			border-bottom: 0.3rem solid $main
.dropdown-content
	position: absolute
	background-color: $white
	border: 1px solid $grey
	border-radius: 0.5rem
	width: 19rem
	padding: 1.3rem
	z-index: 10
	display: none
	top: 3.7rem
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17)
	&:before
		content: ''
		display: block
		position: absolute
		top: -0.7rem
		left: 4rem
		+arr(14, 7, $grey, t)
.dropdown-menu
	margin: 1rem 0 1.5rem 0
	list-style: none
	padding-left: 1rem
	&__item
		margin-bottom: 0.2rem
	&__link
		color: #646464
		font-size: $font-size
		line-height: 2.8rem
		text-decoration: none
		&:hover
			text-decoration: underline
.form-dropdown
	top: 7.4rem
	display: none
	z-index: 1
	&:before
		left: 6.3rem
	&__title
		margin: 0.5rem 0 0 0
		color: #232323
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
		letter-spacing: 0.04rem
		@include afterline
.basket-dropdown-menu
	padding: 0		
.basket-dropdown
	display: none
	width: auto
	top: 0
	left: -3rem
	margin-top: 3.7rem
	box-sizing: content-box
	z-index: 1
	&__total
		margin-top: 1.8rem
		display: flex
		justify-content: space-between
		color: $black
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
	&-buttons
		margin-top: 3rem
		&__btn
			padding: 2rem 7rem
			width: 100%
			color: #4a4a4a
			border: 0.1rem solid #eaeaea
			background-color: transparent
			font-weight: $bold
			text-transform: uppercase
.checkout
	margin-bottom: 0.8rem
	color: $main
	border: 0.1rem solid $main
.product-item
	display: flex
	align-items: center
	min-width: 23rem
	&-desc
		margin-left: 1.2rem

		&__title
			margin: 0.5rem 0 1rem 0
			color: $black
			font-size: 1.2rem
			font-weight: $bold
			text-transform: uppercase
.rating
	display: flex
	color: $star
	font-size: 1.2rem
	margin-bottom: 1.2rem
.sum
	color: $main
	font-size: 1.2rem
	text-transform: uppercase
.delete
	margin-left: 5rem
	color: #c0c0c0
	font-size: 1.6rem
	cursor: pointer
	transition: 0.4s
	&:hover
		color: $black

// ===============MAIN==================
.main-slider
	background-color: #e8e8e8
	height: auto
	margin-bottom: 10rem
	&__text
		color: $black
		font-weight: $bold
		font-family: $secondaryfont
		font-size: 4rem
		text-transform: uppercase
	&-brick
		height: 9rem
		width: 1rem
		margin-right: 1rem
		background-color: $main
.slider-cont
	background: #e8e8e8 url(../img/main-bg.jpg) 5rem no-repeat
	background-size: cover
	display: flex
	align-items: center
	height: 65rem
.brand
	font-size: 6rem
	letter-spacing: 0.15rem
.fashion
	color: $main
	letter-spacing: 0.1rem
.offers
	margin-bottom: 6rem
	&-img
		display: flex
		justify-content: center
		&-side
			padding: 0
			margin-right: 1.5rem
		&__item
			position: relative
			list-style: none
			margin-bottom: 1.5rem
			max-width: 100%
		&__inscription
			width: auto
			height: 8.2rem
			position: absolute
			top: 2.8rem
			box-sizing: border-box
			padding: 1.6rem 1.5rem
			background-color: $white
			color: $black
			font-family: $secondaryfont
			font-size: 1.8rem
			font-weight: $bold
			text-transform: uppercase
			letter-spacing: 0.045rem
.hot
	margin: 0
	margin-bottom: 0.4rem
	font-size: 1.8rem
	font-weight: $bold
.for
	color: $main
	font-size: 3rem
	letter-spacing: 0.075rem
	font-weight: $bold
//  ====================items=====================
.items
	color: $black
	box-sizing: border-box
	&__title
		text-align: center
		font-size: 3rem
		font-weight: $bold
		letter-spacing: 0.075rem
		margin-bottom: 1.5rem
	&__suptitle
		color: #9f9f9f
		font-size: $font-size
		font-weight: $font-weight
		text-align: center
		letter-spacing: 0.035rem
		margin-bottom: 6rem
	&-btn
		@include btn
		display: flex
		align-items: center
		margin: 2rem auto 10rem auto
		padding: 1.5rem 2.4rem
		font-size: 1.3rem
		font-weight: $bold
		letter-spacing: 0.04rem
	&-content
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 0
		list-style: none
		&_product
			margin-top: 5rem
		&__link
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
		&__hover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 77%
			background: rgba(58, 56, 56, 0.83)
			opacity: 0
			transition: all 0.3s
			&:hover
				opacity: 1
		&-item
			width: 26.1rem
			height: 36.4rem
			position: relative
			margin-bottom: 4rem
			overflow: hidden
			&:hover
				box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16)
				.items-rating
					visibility: visible
				.items-content__hover
					opacity: 1
			&__btn
				display: flex
				align-items: center
				justify-content: flex-start
				position: absolute
				top: 10rem
				left: 7rem
				padding: 0.9rem 1.2rem 0.9rem 1rem
				border-radius: 3px;
				border: 1px solid $white
				font-size: 1.3rem
				color: $white
				background-color: transparent
				&--single-repost
					background: url(../img/icons/repost.png) center center no-repeat
					top: 15rem
					width: 57px
					height: 38px
					padding: 0
				&--single-like
					background: url(../img/icons/like.png) center center no-repeat
					top: 15rem
					left: 13.2rem	
					width: 57px
					height: 38px
					padding: 0
			&--icon
				@include sprite($item-basket)
				margin-right: 0.6rem
			&-desc
				padding: 1.5rem
				&__text
					display: block
					font-size: 1.3rem
					text-transform: uppercase
					margin-bottom: 1.5rem
.price
	color: $main
	font-size: 1.6rem
	font-weight: $bold
	text-transform: uppercase
.items-rating
	margin: 0
	font-size: 1.3rem
	visibility: hidden
.price-rating
	display: flex
	justify-content: space-between
	align-items: center
.fa-long-arrow-alt-right
	margin-left: 1rem
	font-weight: $font-weight
//  ========================FEATURES============================
.features
	margin-bottom: 10rem
	color: $white
	&-leftside
		background: #f0f0f0 url(../img/features-bg.jpg) 0 0 no-repeat
		background-size: cover
		width: 76.7rem
		height: 52.9rem
		&__text
			width: 31rem
			margin-top: 14rem
			margin-left: 4rem
			line-height: 0.9
			// Text style for "30%"
			font-size: 5.4rem
			font-weight: $bold
			text-transform: uppercase
			letter-spacing: 0.15rem
	&-list
		list-style: none
		margin: 0
		padding: 0
		width: 37.3rem
		display: flex
		flex-direction: column
		background-color: #222224
		&-item
			display: flex
			align-items: center
			justify-content: center
			&__img1
				@include sprite($delivery)
			&__img2
				@include sprite($sale)
			&__img3
				@include sprite($quality)
			&-desc
				margin-top: 5rem
				margin-left: 3rem
				color: #fbfbfb
				&__title
					margin: 0
					font-size: 2rem
					font-weight: $bold
					letter-spacing: 0.05rem
				&__text
					margin-top: 1.5rem
					margin-bottom: 0
					width: 21.9rem
					font-size: 1.4rem
					font-weight: $light
					line-height: 2.4rem
					letter-spacing: 0.035rem

					
.offer
	// Text style for "OFFER"
	color: $main
	letter-spacing: 0.15rem
.for-women
	// Text style for "FOR WOMEN"
	font-size: 3.2rem
	letter-spacing: 0.09rem

//================slider-form=========================

.slider-form
	background: #f2f2f2 url(../img/form-slider/bg-form.jpg) center center no-repeat
	background-size: cover
	height: 44.1rem
	display: flex
.slider
	border-right: 0.1rem solid #fff
	height: 100%
	width: 50%
	display: flex
	align-items: center
	justify-content: center
	&-body
		display: flex
		align-items: center
		&__quote
			width: 38.6rem
			margin-left: 2.8rem
			margin-right: 7rem
			color: #222224
			font-size: 1.4rem
			font-style: italic
			line-height: 2.6rem
			letter-spacing: 0.04rem
.form-side
	width: 50%
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	border-left: 0.1rem solid #fff
	height: 44.1rem
	&__text
		display: block
		color: #222224
		font-size: 1.4rem
		letter-spacing: 0.035rem
		text-transform: uppercase
		margin-bottom: 3rem
	&__title
		display: block
		text-align: center
		font-weight: $font-weight
		font-size: 2.4rem
		letter-spacing: 0.06rem
		line-height: 4rem
.form
	display: flex
	align-items: center
	&__input
		width: 25rem
		padding: 1.5rem 2rem 
		color: #222224
		font-size: $font-size
		letter-spacing: 0.035rem
		border: none
		border-radius: 2.3rem 0 0 2.3rem
		background-color: #e1e1e1
.subscribe
	padding: 1.5rem 2.2rem
	font-weight: $font-weight
	font-size: $font-size
	color: $white
	letter-spacing: 0.035rem
	background-color: $main
	border-radius: 0 2.3rem 2.3rem 0
	border: none
	cursor: pointer

//=======================INFO====================

.info
	margin-top: 10rem
	&__text
		margin-top: 3rem
		width: 42.7rem
		color: #898989
		font-size: 1.4rem
		font-weight: 300
		line-height: 2.4rem
		letter-spacing: 0.035rem
	&-nav
		display: flex
		justify-content: space-between
		&__title
			margin-bottom: 4.5rem
			color: $main
			font-size: 1.7rem
			font-weight: $bold
			text-transform: uppercase
		&-block
			margin-right: 8rem
		&-main
			margin-right: 12.9rem
			margin-left: 6rem
		&-menu
			list-style: none
			padding: 0
			margin: 0
			&__item
				margin-bottom: 2.5rem
			&__link
				text-decoration: none
				color: #898989
				font-size: 1.4rem
				&:hover
					text-decoration: underline
.footer
	margin-top: 9rem
	background-color: $grey
	&__copyright
		color: #7a7a7a
		font-size: 1.6rem
		font-weight: $font-weight
		line-height: 4.2rem
	&-social
		list-style: none
		display: flex
		align-items: center
		&__item
			width: 3.2rem
			height: 3.2rem
			display: flex
			justify-content: center
			align-items: center
			margin-right: 0.6rem
			background-color: $white
			color: #b2b2b2
			font-size: 1.6rem
			font-weight: $font-weight
			transition: 0.6s
			&:hover
				background-color: $main
				.footer-social__link
					color: #f7f7f8
			&:active
				background-color: #eeeeee
				.footer-social__link
					color: #b2b2b2
		&__link
			padding: 0.7rem 1rem
			text-decoration: none
			color: #b2b2b2
.slider-price
	width: 100%
	margin-bottom: 1.6rem
	&__value
		display: flex
		justify-content: space-between
		align-items: center
		// flex-wrap: no-wrap
	&__input
		width: 4rem
		border: none
		color: #6f6e6e
		font-size: $font-size

@import product
@import single
@import shoping-cart
@import checkout

	
@media screen and (max-width: 1200px)
	.container
		width: 960px
@media screen and (max-width: 992px)
	.container
		width: 960px
/* @media screen and (max-width: 992px)
	.container
		width: 960px */