// ========================= PRODUCT PAGE ====================================



.page-title
	color: $main
	font-family: $secondaryfont
	font-size: 2.4rem
	font-weight: $bold
	line-height: 2rem
	text-transform: uppercase
.breadcrumb
	height: 14.8rem
	background-color: #f8f3f4
	margin-bottom: 6rem
	&__list
		list-style: none
		display: flex
	&__link
		text-decoration: none
		padding-right: 0.3rem
		font-size: $font-size
		line-height: 2rem
		text-transform: uppercase
		color: #636363
		font-weight: $light
.current
	color: $main
	font-size: $font-size
	font-weight: $bold
	line-height: 2rem
	text-transform: uppercase
.filter
	margin-bottom: 11rem
	&-sidebar
		width: 21%
		&__button
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
			padding: 1rem 1.3rem
			border: none
			background-color: transparent
			border-bottom: 0.1rem solid #ebebeb
			border-left: 0.5rem solid $darken-main
			color: #6f6e6e
			font-size: $font-size
			font-weight: $bold
			line-height: 2rem
			text-transform: uppercase
			transition: all 0.3s
			&:hover
				color: $darken-main
			&-wrapper
				margin-bottom: 1.8rem
				position: relative
.sort-current
	color: $darken-main
	.sort-icon
		transition: all 0.6s
		transform: rotate(180deg)
.sidebar-dropdown
	height: 0
	overflow: hidden
	width: 100%
	padding: 0
	&-menu
		padding: 0
		margin: 0
		list-style: none
		&__item
			color: #6f6e6e
			font-size: $font-size
			line-height: 3.3rem
.sort-open
	padding: 1.7rem
	overflow: visible
	height: auto

// ====================FILTER=============================

.right-side
	width: 79%
	padding-left: 5rem
.filter-row
	display: flex
	margin-bottom: 4rem
	&__title
		color: #6f6e6e
		font-size: $font-size
		font-weight: $bold
		text-transform: uppercase
.trend
	max-width: 18.1rem
	margin-right: 11rem
.filter-list
	display: flex
	list-style: none
	flex-wrap: wrap
	padding: 0
	margin: 0
	&__item
		color: #6f6e6e
		font-size: $font-size
		padding: 0 1rem
		margin-bottom: 1rem
		cursor: pointer
		transition: all 0.3s
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
		&:nth-child(4)
			padding-left: 0
		&:nth-child(3n+2)
			border:
				left: 2px solid #dfdfdf
				right: 2px solid #dfdfdf
		&:hover
			color: $main
.size
	max-width: 22rem
	margin-right: 6rem
	&__item
		display: flex
		align-items: center
		padding-right: 2rem
		&:nth-child(4)
			padding-right: 0
.checkbox
	display: flex
	cursor: pointer
	&__input
		display: none
		&:checked + .checkbox_custom::after
			opacity: 1
	&__text
		color: #6f6e6e
		font-size: $font-size
		text-transform: uppercase
		margin-bottom: 1.1rem
	&_custom
		display: block
		width: 1.3rem
		height: 1.3rem
		position: relative
		margin-right: 0.9rem
		border: 0.1rem solid #ebebeb
		background-color: $white
		&::after
			content: ''
			position: absolute
			width: 0.4rem
			height: 1rem
			border: solid $main
			border-width: 0 0.2rem 0.2rem 0
			transform: rotate(40deg)
			top: 0
			right: 0.2rem
			left: 0.4rem
			bottom: 0.2rem
			opacity: 0
			transition: 0.5s
.price-filter
	min-width: 26.2rem
.sort-row
	height: 5rem
	display: flex
	align-items: center
	background-color: #f3f3f3
	&__block
		display: flex
    	align-items: center
		margin-left: 0.9rem
	&-dropdown
		position: relative
		&__menu
			margin: 0
			padding: 0
			list-style: none
			position: absolute
			width: 98%
			border: none
			background-color: $white
			border-top: none
			overflow-y: auto
			overflow-x: hidden
			height: 0rem
			z-index: 99
		&__item
			display: flex
			align-items: center
			justify-content: center
			padding: 0.6rem 0.9rem 0.6rem 0.8rem
			cursor: pointer
			&:hover
				transition: all 0.3s linear
				background-color: #717171
				.sort-row-dropdown__link
					color: $white
		&__link
			text-decoration: none
			color: #6f6e6e
			font-size: $font-size
	&__btn
		display: flex
		align-items: center
		border: 0.1rem solid #ebebeb
		background-color: $white
		padding: 0.6rem 0.9rem 0.6rem 1.2rem
		color: #6f6e6e
		font-size: $font-size
	&__label
		border: 0.1rem solid #ebebeb
		border-right: none
		background-color: $white
		padding: 0.6rem 0.8rem 0.6rem 1.2rem
		color: #6f6e6e
		font-size: $font-size
	&__title
		margin-right: 1.3rem
.selected
	background-color: $main
	.sort-row-dropdown__link
		color: $white
.open
	transition: height 0.3s linear
	height: 11.2rem
	border: 0.1rem solid #ebebeb
.pagination
	display: flex
	align-items: center
	padding: 1.2rem	0.7rem
	border-radius: 0.3rem
	border: 0.1rem solid #ebebeb
	background-color: $white
	&__list
		margin: 0
		padding: 0
		display: flex 
		align-items: center
		justify-content: center
		list-style: none
	&__item
		color: #c4c4c4
		font-size: 1.6rem
		&:first-child
			font-size: $font-size
		&:last-child
			font-size: $font-size
		&:nth-child(7)
			.pagination__link
				padding-right: 0
		&:nth-child(9)
			.pagination__link
				padding-left: 0
	&__link
		text-decoration: none
		color: #c4c4c4
		padding: 0 0.9rem
		&:hover
			color: $darken-main
			font-weight: $bold
.active-page
	font-weight: $bold
	color: $darken-main
.view-all
	padding: 1.3rem 4.3rem
	border-radius: 0.3rem
	border: 0.1rem solid $darken-main
	background-color: $white
	color: $darken-main
	font-size: 1.6rem
	font-weight: $bold
	&:hover
		background-color: $darken-main
		color: $white
.features--product
	background-color: #222224;
	margin: 0
	height: 34.1rem
.features-list--product
	width: 100%
	flex-direction: row
	text-align: center
.features-list-item--product
	flex-direction: column
	flex-grow: 1
.features-list-item-desc--product
	margin: 0
	margin-top: 3rem
.features-list-item-desc__text--product
	width: auto






