// ========================= PRODUCT PAGE ====================================


.thead__item, .tbody__item
	padding: 2.2rem 0
	border-bottom: 0.1rem solid #eaeaea
	text-align: left
	vertical-align: middle
.tbody__item
	padding-left: 1rem
.thead__item
	padding: 1.8rem 0
	color: $black
	font-size: 1.3rem
	font-weight: $bold
	line-height: 2rem
	text-transform: uppercase
	letter-spacing: -0.02rem
.th-product
	width: 14rem
.td-img
	padding-left: 0
.table
	width: 100%
	border-collapse: collapse
	margin: 9rem 0 4.4rem 0
	&__product-details
		width: 39.5rem
		vertical-align: top
		&-name
			margin-top: 1.3rem
			margin-bottom: 3rem
			color: $black
			font-size: 1.3rem
			text-transform: uppercase
		&-desc
			line-height: 2rem
			font-size: 1.3rem
			font-weight: $bold
			color: #575757
			&--current
				font-weight: $light
	&__value
		color: #656565
		font-size: 1.3rem
		font-weight: $bold
	&__img
		max-width: 10rem
		max-height: 11.5rem
	&__price
		width: 15rem
	&__shipping
		width: 15rem
		text-transform: uppercase
	&__subtotal
		width: 15rem
	&__quantity
		width: 15rem
		&-input
			width: 5.5rem
			padding: 0.5rem 0 0.5rem 2.3rem
			box-sizing: border-box
			border: 0.1rem solid #eaeaea
			background-color: $white
			color: #656565
			font-size: 1.3rem
.delete--table
	margin: 0
.cart-buttons
	margin-bottom: 6.3rem
.cart__btn
	padding: 1.9rem 3.9rem
	border: 0.1rem solid #eaeaea
	background-color: $white
	color: #4a4a4a
	font-size: $font-size
	font-weight: $bold
	text-transform: uppercase
.cart-count
	margin-bottom: 7rem
	display: flex
	align-items: center
	justify-content: space-between
.cart-form
	display: flex
	flex-direction: column
	justify-content: flex-start
	flex-wrap: wrap
	align-items: flex-start
	max-height: 28rem
	&__label
		margin: 0
		margin-bottom: 2.2rem
		color: $black
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
	&__input
		margin-bottom: 2rem
		margin-right: 3rem
		padding: 1.5rem
		width: 32.5rem
		border: 0.1rem solid #eaeaea
		background-color: $white
		font-size: 1.3rem
		color: #8a8a8a
		+placeholder
			color: #cecece
			font-size: 1.3rem
			font-weight: $light
		&--btn
			color: #cecece
			font-weight: $light
			display: flex
			justify-content: space-between
			box-sizing: content-box

	&__btn
		padding: 1rem 1.2rem
		border: 0.1rem solid #eaeaea
		background-color: $white
		color: #4a4a4a
		font-size: 1.1rem
		font-weight: $bold
		text-transform: uppercase
		transition: 0.3s linear
		&:hover
			box-shadow: -1px 1px 25px -2px rgba(0,0,0,0.2)
	&__hint
		margin: 0
		font-size: $font-size
		font-weight: $light
		margin-bottom: 2.4rem
.cart-calc
	width: 29rem
	padding: 4rem 4.2rem
	background-color: #f5f3f3
	text-align: right
	&__subtotal
		color: #4a4a4a
		font-size: 1.1rem
		font-weight: $font-weight
		text-transform: uppercase
		margin-bottom: 1.4rem
	&__total
		padding-bottom: 2rem
		border-bottom: 1px solid #e2e2e2
		color: $black
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
	&__price
		margin-left: 1rem
	&__btn
		margin-top: 1.7rem
		padding: 1.8rem 4.2rem
		background-color: $main
		width: 100%
		color: $white
		border: none
		font-size: 1.6rem
		font-weight: $bold
		text-transform: uppercase
.sort-row-dropdown__menu--cart
	width: 92%
.cart-count-dropdown__item
	color: #cecece
	font-size: 1.3rem
	cursor: pointer
	font-weight: $light
	padding: 1.5rem
	border: 0.1rem solid #eaeaea
	border-bottom: 0
	&:last-child
		border-bottom: 0.1rem solid #eaeaea
	&:first-child
		border-top: 0
.put
	transition: 0.3s linear
	height: 12rem
	#cart-country-btn
		margin-bottom: 0

