// ========================= SINGLE PAGE ====================================



.breadcrumb--single
	margin-bottom: 0
.bigSlider
	border: 0.1rem solid #eaeaea
	height: 77.7rem
	background-color: #f7f7f7
	text-align: center
	position: relative
.bx-prev, .bx-next
	padding: 1.7rem 1.9rem	
	color: $white
	background-color: #2a2a2a
	opacity: .2
	position: absolute
	top: 50%
	z-index: 100
	text-indent: -9999px
.bx-prev
	padding-left: 2.3rem
	left: 0
	background: #2a2a2a url(../img/left.png) center no-repeat
.bx-next
	padding-right: 2.3rem
	right: 0
	background: #2a2a2a url(../img/right.png) center no-repeat
.product-desc
	margin-bottom: 10rem
	&__wrapper
		text-align: center
		border: 0.1rem solid #eaeaea
		background-color: $white
		padding: 7rem 25rem 12rem 25rem
		position: relative
		margin-top: -9rem
	&__title
		color: $main
		font-size: $font-size
		text-transform: uppercase
		position: relative
		display: inline-block
		margin: 0
		padding-bottom: 1.5rem
		border-bottom: 0.1rem solid #eaeaea
		margin-bottom: 1.7rem
		&:after
			content: ''
			position: absolute
			width: 6.4rem
			height: 0.3rem
			background-color: $darken-main
			left: 50%
			margin-left: -3.2rem
			top: 97%
	&__subtitle
		color: #4d4d4d
		font-family: $secondaryfont
		font-size: 1.8rem
		text-transform: uppercase
		margin-bottom: 2.4rem
	&__label
		max-width: 61.8rem
		margin: 0
		margin-bottom: 2.8rem
		color: #5e5e5e
		font-size: $font-size
		font-weight: $light
		line-height: 2.4rem
	&__info
		max-width: 61.8rem
		margin-bottom: 3.7rem
	&__brief
		margin-right: 4.4rem
		color: #b9b9b9
		font-size: $font-size
		font-weight: $bold
		text-transform: uppercase
		&:last-child
			margin-right: 0
		&-value
			color: #2f2f2f
.price--single
	font-size: 2.4rem
.rating--single
	margin-bottom: 2.6rem
	font-size: 1.7rem
.textblock
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 4.3rem
.choiceblock
	padding: 6.3rem 5.7rem 0 5.7rem
	border-top: 0.1rem solid #eaeaea
	&__label
		margin-bottom: 1rem
		color: #2f2f2f
		font-size: $font-size
		font-weight: $bold
		line-height: 2.4rem
		text-transform: uppercase
	&__color
		width: 1.2rem
		height: 1.2rem
		display: inline-block
		margin-right: 1rem
	&__item
		width: 14.4rem
		display: flex
		box-sizing: content-box
		margin-bottom: 1rem
		flex-direction: column
		align-items: flex-start
.sort-row-dropdown--single
	width: 100%
.sort-row__btn--single
	display: flex
	align-items: center
	justify-content: space-between
	padding: 1rem 0.9rem 1rem 1.4rem
	width: 100%
	color: #bcbcbc
	font-size: 1.3rem
	box-sizing: border-box
.red
	background-color: #ef5b70
.add
	margin-top: 2.8rem
	padding: 1.5rem 0
	width: 100%
	display: flex
	align-items: center
	justify-content: center
.single-basket
	@include sprite($basket-red)
	margin-right: 1.5rem
.may-like
	margin-bottom: 3rem
.product-desc__subtitle--may-like
	font-size: 2.4rem
	margin-bottom: 7rem
	text-align: center